{% comment %}
  Renders product badges (sold out / sale) using Whisper styles.

  @param product {Product}
  @param settings {Object}
{% endcomment %}

{% if product != blank %}
  <div
    class="product-badges product-badges--{{ settings.badge_position }}"
    style="
      --badge-border-radius: {{ settings.badge_corner_radius }}px;
      --badge-font-family: var(--font-{{ settings.badge_font_family }}--family);
      --badge-font-weight: var(--font-{{ settings.badge_font_family }}--weight);
      --badge-text-transform: {{ settings.badge_text_transform }};
    "
  >
    {%- if product.available == false or product.compare_at_price > product.price -%}
      <div
        class="
          product-badges__badge product-badges__badge--rectangle
          {% if product.available == false %} color-{{ settings.badge_sold_out_color_scheme }}{% elsif product.compare_at_price > product.price %} color-{{ settings.badge_sale_color_scheme }}{% endif %}
        "
      >
        {%- if product.available == false -%}
          {{ 'content.product_badge_sold_out' | t }}
        {%- elsif product.compare_at_price > product.price -%}
          {{ 'content.product_badge_sale' | t }}
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
{% endif %}
