<script
  src="{{ 'cart-drawer.js' | asset_url }}"
  type="module"
  fetchpriority="low"
></script>

{% capture cart_icon %}
  <cart-icon
    class="
      header-actions__cart-icon
      {% unless cart == empty %} header-actions__cart-icon--has-cart{% endunless %}
    "
    data-testid="cart-icon"
  >
    <span
      class="svg-wrapper"
      aria-hidden="true"
    >
      {{ 'icon-cart.svg' | inline_asset_content }}
    </span>

    {% render 'cart-bubble', limit: 100, live_region: true, test_id: test_id %}
  </cart-icon>
{% endcapture %}

{% if settings.cart_type == 'drawer' and template.name != 'cart' %}
  <cart-drawer-component
    class="cart-drawer"
    {{ block.shopify_attributes }}
    {% if settings.auto_open_cart_drawer %}
      auto-open
    {% endif %}
  >
    <button
      class="button header-actions__action button-unstyled"
      on:click="/open"
      aria-haspopup="dialog"
      aria-label="{{ 'accessibility.cart' | t }}"
      aria-describedby="cart-bubble-text"
      data-testid="cart-drawer-trigger"
    >
      {{ cart_icon }}
    </button>

    <dialog
      ref="dialog"
      class="cart-drawer__dialog dialog-modal dialog-drawer color-{{ settings.drawer_color_scheme }}{% if cart.empty? %} cart-drawer--empty{%endif%}"
      aria-labelledby="{% if cart.empty? %}cart-drawer-heading-empty{% else %}cart-drawer-heading{% endif %}"
      scroll-lock
      cart-summary-sticky="true"
    >
      <div class="cart-drawer__inner">
        <cart-items-component
          class="cart-items-component"
          data-section-id="{{ section.id }}"
        >
          {%- if cart.empty? -%}
            <div class="cart-drawer__header">
              <button
                ref="closeButton"
                on:click="cart-drawer-component/close"
                class="button close-button cart-drawer__close-button button-unstyled"
                aria-label="{{ 'actions.close_dialog' | t }}"
              >
                <span class="svg-wrapper">
                  {{- 'icon-close.svg' | inline_asset_content -}}
                </span>
              </button>
            </div>

            <div
              class="cart-drawer__content motion-reduce"
              aria-label="{{ 'accessibility.cart' | t }}"
            >
              <h2
                class="cart-drawer__heading h4 cart-drawer__heading--empty"
                id="cart-drawer-heading-empty"
              >
                {{ 'content.your_cart_is_empty' | t }}
              </h2>

              <div class="cart-drawer__items">
                {% render 'cart-products', drawer_context: 'drawer' %}
              </div>

              <div class="cart-drawer__footer cart-drawer__footer--empty">
                <a
                  class="cart-drawer__continue-shopping"
                  href="{{ routes.all_products_collection_url }}"
                  on:click="cart-drawer-component/close"
                >
                  {{ 'cart.general.continue_shopping' | t }}
                </a>
              </div>
            </div>
          {%- else -%}
            <div
              class="cart-drawer__header"
              id="cart-drawer-header"
            >
              <h2
                class="cart-drawer__heading h4"
                id="cart-drawer-heading"
              >
                {{ 'content.cart_title' | t }}
                {% render 'cart-bubble' %}
              </h2>

              <button
                ref="closeButton"
                on:click="cart-drawer-component/close"
                class="button close-button cart-drawer__close-button button-unstyled"
                aria-label="{{ 'actions.close_dialog' | t }}"
              >
                <span class="svg-wrapper">
                  {{- 'icon-close.svg' | inline_asset_content -}}
                </span>
              </button>
            </div>

            <scroll-hint
              class="cart-drawer__content motion-reduce"
              aria-label="{{ 'accessibility.cart' | t }}"
              style="--header-height: 60px;"
            >
              <scroll-hint
                class="cart-drawer__items"
              >
                {% render 'cart-products', drawer_context: 'drawer' %}
              </scroll-hint>

              <div
                class="cart-drawer__summary"
              >
                {% render 'cart-summary' %}

                <div class="cart-drawer__footer">
                  <a
                    class="cart-drawer__continue-shopping"
                    href="{{ routes.all_products_collection_url }}"
                    on:click="cart-drawer-component/close"
                  >
                    {{ 'cart.general.continue_shopping' | t }}
                  </a>
                </div>
              </div>
            </scroll-hint>
          {%- endif -%}
        </cart-items-component>
      </div>
    </dialog>
  </cart-drawer-component>
{% endif %}
