{% comment %}
  @param product {Object}
    Required to show product information
{% endcomment %}

{% assign recently_viewed = recently_viewed | default: nil %}

{% assign product_grid_show_second_image = settings.product_grid_show_second_image %}
{% assign emphasize_price = settings.product_grid_emphasize_price %}
{% assign quick_shop_display = settings.product_grid_quick_shop_display %}
{% assign enable_quickshop = settings.product_grid_enable_quickshop %}
{% assign atc_display = settings.product_grid_show_atc %}
{% assign atc_button = settings.product_grid_show_atc_button %}
{% assign product_ratings_reviews = settings.product_ratings_reviews %}
{% assign product_ratings_star_display = settings.product_ratings_star_display %}
{% assign money_format = shop.money_format | strip_html %}

{% if product %}
  {% assign compare_at_price = product.compare_at_price %}
  {% assign compare_at_price_varies = product.compare_at_price_varies %}
  {% assign price = product.price %}
  {% assign price_varies = product.price_varies %}
  {% assign product_available = product.available %}
  {% assign product_title = product.title %}
  {% assign product_vendor = product.vendor %}
  {% assign product_link = product.url | within: collection %}
  {% assign product_description = product.description | strip_html %}
  {% assign product_description_size = product.description | strip_html | size %}
  {% if recently_viewed == true %}
    {%- capture recently_viewed_header -%}
    <div class="product-recently-viewed-card-time" data-product-handle="{{product.handle}}">
      <button
        class="product-recently-viewed-card-remove"
        aria-label="close"
        data-remove-recently-viewed
      >
        {% render 'icon-remove' %}
      </button>
    </div>
    {%- endcapture -%}
  {% endif %}
{% else %}
  {% assign onboarding = true %}
  {% assign compare_at_price = 1999 %}
  {% assign compare_at_price_varies = false %}
  {% assign price = 1999 %}
  {% assign price_varies = false %}
  {% assign product_available = true %}
  {% assign product_title = 'onboarding.product.title' | t %}
  {% assign product_vendor = 'onboarding.product.vendor' | t %}
  {% assign product_link = '#' %}
{% endif %}

{% assign on_sale = false %}
{% for variant in product.variants %}
  {% if variant.compare_at_price > variant.price %}
    {% assign on_sale = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% assign has_variants = false %}
{% unless product.has_only_default_variant %}
  {% assign has_variants = true %}
{% endunless %}

{% assign consistent_saved = false %}
{% capture consistent_savings %}
  {%
    render 'consistent-savings',
    variants: product.variants,
    on_sale: on_sale
  %}
{% endcapture %}
{% if consistent_savings contains 'true' %}
  {% assign consistent_saved = true %}
{% endif %}

{%- capture classes -%}
  productgrid--item
  product-card
  product-grid__item
  imagestyle--{% if settings.product_grid_image_crop and settings.product_grid_image_style != 'natural' %}cropped-{% endif %}{{ settings.product_grid_image_style }}
  {% unless product.featured_image %}imagestyle--no-image{% endunless %}
  {% if on_sale %}productitem--sale{% endif %}
  {% if emphasize_price %}productitem--emphasis{% endif %}
  {% if recently_viewed %}product-recently-viewed-card{% endif %}
  {% if atc_display == 'always' or quick_shop_display == 'always' %}show-actions--mobile{% endif %}
{%- endcapture -%}

{% capture to_hash %}
  {{ shop.money_format | strip_html }}
  {{ settings | json }}
  {{ 'product.buttons.add_to_cart' | t }}
  {{ 'product.buttons.sold_out' | t  }}
  {{ product | json }}
{% endcapture %}
{% assign to_hash = to_hash | replace: ' ', '' | sha256 %}

{%- assign show_swatches = false -%}
  {% assign initial_image = product.featured_media.preview_image.src %}
  {%- if settings.swatches_enable and recently_viewed != true -%}
    {% comment %} Check if product should show swatches {% endcomment %}
    {%- for option in product.options_with_values -%}
      {%- assign swatch_trigger = settings.swatches_swatch_trigger | strip | downcase -%}
      {%- assign option_name = option.name | downcase -%}
      {%- if option_name == swatch_trigger -%}
        {%- assign show_swatches = true -%}
        {%- assign swatch_values = option.values -%}
        {%- assign swatch_values_count = option.values.size -%}
        {%- assign swatch_option_key = 'option' | append: forloop.index -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}

    {% if section.settings.filter_style == 'groups' and current_tags and show_swatches %}
      {% comment %} We are filtered by tags, so check and see if it's filtering by swatch {% endcomment %}
      {% for tag in current_tags %}
        {% assign tag_group = tag | split: '_' | first | downcase %}
        {% if tag_group == swatch_trigger %}
          {% assign active_swatch_name = tag | split: '_' | last | downcase %}

          {% comment %} Filter variants by swatch (for ex. where color == blue). Can't use | where due to case sensitivity {% endcomment %}
          {% for variant in product.variants %}
            {% assign option_value = variant[swatch_option_key] | downcase %}
            {% if option_value == active_swatch_name %}
              {% if variant.image %}
                {% assign initial_image = variant.image %}
              {% endif %}
              {% break %}
            {% endif %}
          {% endfor %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% capture product_item_swatches %}
      {%- if show_swatches -%}
        <div
          class="
            productitem--swatches
            {% if settings.swatches_shape == 'square' and settings.swatches_option_style == 'variant_image' %}
              swatches-variant-images-square
            {% endif %}
          "
          data-swatches
        >
          <script type="application/json" data-swatch-data>
            {
              "hash": {{ to_hash | json }},
              "swatchOptionKey": {{ swatch_option_key | json }},
              "variants": {{ product.variants | json }}
            }
          </script>
          <form
            class="productitem--swatches-container"
            data-swatches-container
            aria-label="{{ 'general.accessibility.swatch_options' | t: swatch_trigger: settings.swatches_swatch_trigger, product_title: product.title }}"
          >
            {% for swatch_value in swatch_values %}
              {% assign swatch_value_downcased = swatch_value | downcase %}
              <label>
                <input
                  class="productitem--swatches-input"
                  type="radio"
                  tabindex="0"
                  name="swatch"
                  value="{{ swatch_value | escape }}"
                  aria-label="{{ swatch_value | escape }}"
                  {% if swatch_value_downcased == active_swatch_name %}checked{% endif %}
                >
                {% assign use_variant_images = false %}
                {% if settings.swatches_option_style == 'variant_image' %}
                  {% assign use_variant_images = true %}
                {% endif %}
                {% assign use_aspect_ratio = false %}
                {% if settings.swatches_shape == 'square' %}
                  {% assign use_aspect_ratio = true %}
                {% endif %}
                {%- capture swatch_styles -%}
                  {%
                    render 'swatch-styles',
                    color_name: swatch_value,
                    use_variant_images: use_variant_images,
                    swatch_product: product,
                    swatch_option_key: swatch_option_key,
                    swatch_size: settings.swatches_product_card_size,
                    use_aspect_ratio: use_aspect_ratio,
                  %}
                {%- endcapture -%}
                <div
                  class="productitem--swatches-swatch-wrapper"
                  data-swatch-tooltip="{{ swatch_value | escape }}"
                  data-swatch
                  style="{{ swatch_styles | split: '/* variables */' | last | remove: '/* variables */'}}"
                >
                  <div class="productitem--swatches-swatch">
                    <div
                      class="productitem--swatches-swatch-inner"
                      style="
                        {{ swatch_styles | split: '/* variables */' | first }}
                        {% comment %} {% if use_variant_images and settings.swatches_shape == 'square' %}border-radius: 0;{% endif %} {% endcomment %}
                      "
                    >
                    </div>
                  </div>
                </div>
              </label>
            {% endfor %}
          </form>
          <button
            class="productitem--swatches-count-wrapper"
            tabindex="0"
            data-swatch-count-wrapper
            aria-label="{{ 'general.accessibility.swatches_toggle' | t: swatch_trigger: settings.swatches_swatch_trigger }}"
          >
            <div class="productitem--swatches-count" data-swatch-count>+</div>
          </button>
        </div>
      {%- endif -%}
    {% endcapture %}
  {%- endif -%}

<li
  class="{{ classes | strip_newlines }}"
  data-product-item
  data-product-quickshop-url="{{ product_link }}"
  data-quickshop-hash="{{ to_hash }}"
  {% if recently_viewed %}
    data-recently-viewed-card
  {% endif %}
>
  <product-card class="product-card" data-product-id="{{ product.id }}">
    <div class="product-card__link" aria-hidden="true"></div>
    <div
      class="
        product-card__content
        layout-panel-flex
        layout-panel-flex--column
        product-grid__card
        spacing-style
        border-style
        gap-style
      "
    >
      <div class="productitem" data-product-item-content>
    {{ recently_viewed_header }}
    <a target="_blank"
      class="productitem--image-link productitem--master-link"
      href="{{ product.url | within: collection }}"
      tabindex="-1"
      data-product-page-link
    >
      <figure class="productitem--image product-card__image" data-product-item-image>
        {% if initial_image %}
          {% if product_grid_show_second_image and product.media.size > 1 %}
            {% assign second_image = product.media[1].preview_image.src %}
            {%
              render 'rimg',
              img: second_image,
              size: '512x',
              lazy: true,
              class: 'productitem--image-alternate',
              canvas: true
            %}
          {% endif %}
          {%
            render 'rimg',
            img: initial_image
            size: '512x',
            lazy: true,
            class: 'productitem--image-primary',
            canvas: true
          %}
        {% else %}
          {% if product %}
            {{ 'image' | placeholder_svg_tag: 'placeholder--image' }}
          {% else %}
            {%- capture index -%}
              {%- cycle '1', '2', '3', '4', '5', '6' -%}
            {%- endcapture -%}
            {{ 'product-' | append: index | placeholder_svg_tag: 'placeholder--image' }}
          {% endif %}
        {% endif %}

        {%
          render 'product-badge',
          class_root: 'productitem',
          product: product,
          product_available: product_available,
          on_sale: on_sale,
          price: price,
          compare_at_price: compare_at_price,
          show_saved: consistent_saved,
          include_range: true,
          compare_at_price_varies: compare_at_price_varies,
        %}
        
        {%- for tag in product.tags -%}
          {%- if tag contains '__label' -%}
            <span class="ProductItem__Label" style="background:{{ tag | split: '__label:' | first }};">{{ tag | split: '__label:' | last }}</span>
            {%- break -%}
          {%- endif -%}
        {%- endfor -%}
                        
      </figure>
    </a>
    
    {% comment %}{% render 'iwish_v2' with 'iwishCollection' %}{% endcomment %}

    {%- capture product_item_price -%}
      {%
        render 'product-price',
        product: product,
        class_root: 'productitem',
        price: price,
        price_varies: price_varies,
        compare_at_price: compare_at_price,
        compare_at_price_varies: compare_at_price_varies,
        on_sale: on_sale,
        emphasize_price: emphasize_price,
        show_original: true,
        show_range: true,
        include_hidden_price: false
      %}
    {%- endcapture  -%}

    <div class="productitem--info product-card__info">
     {{ product_item_swatches }}

      <h2 class="productitem--title product-card__title">
        <a target="_blank" href="{{ product_link }}" data-product-page-link>
          {{ product_title }}
        </a>
      </h2>
      {% if product.metafields.my_fields.product_subtitle != blank %}
      <div class="productitem--title-small">({{ product.metafields.my_fields.product_subtitle }})</div>
      {% endif %}
      
      <div class="wc_product_review_badge" data-handle="{{ product.handle }}" data-product_id="{{ product.id }}"></div>
      
      {% if emphasize_price %}
        {{ product_item_price }}            
      {% endif %}

      

      {% if settings.product_show_vendor and product.vendor != blank %}
        <span class="productitem--vendor">
          {{ product_vendor | link_to_vendor }}
        </span>
      {% endif %}

      
{% comment %}Start automatically added Judge.me widget{% endcomment %}
  {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true, product: product %}
{% comment %}End automatically added Judge.me widget{% endcomment %}
{% unless emphasize_price %}
        {{ product_item_price }}            
      {% endunless %}

      {% if product_ratings_reviews and product_ratings_star_display == "all" %}
        <div class="productitem--ratings">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}">
            <span class="spr-badge">
              <span class="spr-starrating spr-badge-starrating">
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
              </span>
            </span>
          </span>
        </div>
      {% endif %}

      {% if product_description %}
        <div class="productitem--description">
          <p>{{ product_description | truncate: 150 }}</p>

          {% if product_description_size > 150 and product_link %}
            <a
              href="{{ product_link }}"
              class="productitem--link"
              data-product-page-link
            >
              {{ 'product.buttons.view_details' | t }}
            </a>
          {% endif %}
        </div>
      {% endif %}
      
      {% if product.metafields.my_fields.free_delivery != blank %}
      <div class="productitem-delivery">
        <svg viewBox="0 0 24 25" class="deliveryIcon">
            <g fill="none" fill-rule="evenodd">
              <path d="M0 1h24v24H0z"></path>
              <path d="M21.872 12.843l-.68 3.849a1.949 1.949 0 00-.398-.819c-.377-.447-.925-.693-1.549-.693-1.024 0-1.98.669-2.395 1.601l1.159-6.571h1.703c.7 0 1.31.265 1.713.746.415.494.573 1.164.447 1.887m-3.238 5.812c-.297 0-.55-.108-.715-.306-.172-.204-.236-.486-.183-.795.123-.698.816-1.288 1.51-1.288.296 0 .55.108.716.306.17.204.235.486.18.794-.123.699-.814 1.289-1.508 1.289m-11.308 0c-.295 0-.55-.108-.715-.306-.171-.204-.236-.486-.18-.794.122-.699.814-1.289 1.508-1.289.296 0 .55.108.714.306.172.204.237.486.182.794-.123.699-.815 1.289-1.509 1.289m14.932-8.397c-.616-.731-1.518-1.134-2.546-1.134H18.2l.262-1.487A.546.546 0 0017.927 7H6.417a.543.543 0 100 1.086H17.28l-1.557 8.832h-5.8a1.965 1.965 0 00-.438-1.045c-.376-.447-.926-.693-1.548-.693-1.074 0-2.074.734-2.454 1.738h-.356l.143-.811a.543.543 0 10-1.069-.188l-.256 1.447a.546.546 0 00.535.637h.86c.045.389.194.753.438 1.045.375.446.925.693 1.548.693 1.075 0 2.075-.734 2.454-1.738h6.867c.044.389.194.752.439 1.045.375.446.925.693 1.547.693 1.075 0 2.075-.734 2.454-1.738h.52c.264 0 .49-.189.534-.449l.799-4.523c.184-1.043-.058-2.028-.683-2.773" fill="#535766"></path>
              <path d="M9.812 9.667c0-.3-.243-.543-.543-.543H1.543a.544.544 0 000 1.086h7.726c.3 0 .543-.243.543-.543M9.387 12.074c0-.3-.243-.543-.543-.543h-5.82a.543.543 0 100 1.086h5.82c.3 0 .543-.243.543-.543M8.42 13.938H4.502a.543.543 0 100 1.086H8.42a.543.543 0 100-1.086" fill="#535766"></path>
            </g>
          </svg>
        <span>{{ product.metafields.my_fields.free_delivery }}</span>
      </div>
      {% endif %}
    </div>

    {% unless recently_viewed %}
      {% if enable_quickshop or atc_button %}
        {% comment %}
          Default button appearance and text
        {% endcomment %}
        {% assign quick_shop_text = 'product.buttons.quick_shop' | t %}
        {% assign quick_buy_text = 'product.buttons.add_to_cart' | t %}

        {% assign quick_shop_classes = 'productitem--action-trigger button-secondary' %}
        {% assign quick_buy_classes = 'productitem--action-trigger productitem--action-atc button-primary' %}

        {% if has_variants %}
          {% assign quick_buy_text = 'product.buttons.choose_options' | t %}
        {% endif %}

        {% unless product_available %}
          {% assign quick_buy_text = 'product.buttons.sold_out' | t %}
          {% assign quick_buy_classes = quick_buy_classes | append: ' disabled' %}
        {% endunless %}

        <div class="productitem--actions product-card__actions" data-product-actions>
          <div class="productitem--listview-price">
            {{ product_item_price }}
          </div>

          <div class="productitem--listview-badge">
            {%
              render 'product-badge',
              class_root: 'productitem',
              product: product,
              product_available: product_available,
              on_sale: on_sale,
              price: price,
              compare_at_price: compare_at_price,
              show_saved: consistent_saved,
              compare_at_price_varies: compare_at_price_varies,
              include_range: true,
            %}
          </div>

          {% if enable_quickshop %}
            <div
              class="
                productitem--action
                quickshop-button
                {% if quick_shop_display == 'desktop' %}productitem-action--desktop{% endif %}
              "
            >
              <button
                class="{{ quick_shop_classes }}"
                data-quickshop-full
                {% if settings.gallery_thumbnail_position == 'left' %}data-thumbs-left{% endif %}
                type="button"
              >
                {{ quick_shop_text }}
              </button>
            </div>
          {% endif %}

          {% if atc_button %}
            <div
              class="
                productitem--action
                atc--button
                {% if atc_display == 'desktop' %}productitem-action--desktop{% endif %}
              "
            >
              <button
                class="{{ quick_buy_classes }}"
                type="button"
                aria-label="{{ quick_buy_text }}"
                {% unless has_variants %}
                  data-quick-buy
                {% else %}
                  data-quickshop-slim
                  data-whisper-quick-add-trigger
                  data-product-id="{{ product.id }}"
                  data-product-url="{{ product.url }}"
                {% endunless %}
                data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                {% unless product_available %}disabled{% endunless %}
              >
                <span class="atc-button--text">
                  {{ quick_buy_text }}
                </span>
                <span class="atc-button--icon">
                  {%- render 'icon-spinner' -%}
                </span>
              </button>
            </div>
          {% endif %}

          <div id="zippy_widget_1511" class="zippy_widget_1511"></div>
        </div>
      {% endif %}
    {% endunless %}
      </div>
    </div>
  </product-card>

  {% if atc_button %}
    <script type="application/json" data-quick-buy-settings>
      {
        "cart_redirection": {{ settings.enable_cart_redirection | json }},
        "money_format": {{ shop.money_format | strip_html | json }}
      }
    </script>
  {% endif %}
</li>
