<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <title>
      {{ page_title }}
      {%- if current_page != 1 %} - Page {{ current_page }}{% endif %}
      {%- unless page_title contains shop.name %} - {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description != blank %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Base CSS -->
    {{ 'base.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}
  </head>

  <body class="template-{{ template.name }} {{ template }}">

    {% section 'bluewud-announcement' %}

    <header class="site-header">
      {% section 'bluewud-header' %}
    </header>

    <main id="main-content" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'bluewud-footer' %}

    {% render 'cart-drawer' %}

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- Theme JavaScript -->
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    
    <!-- Shopify Cart JS -->
    <script src="{{ 'cart.js' | asset_url }}" defer></script>

  </body>
</html>
