{% liquid
  assign brand_name = section.settings.brand_name | default: 'Bluewud'
  assign brand_wordmark = brand_name | downcase | capitalize
  assign brand_tagline = section.settings.brand_tagline | default: 'Premium furniture and room planning for modern Indian homes'
  assign brand_kicker = section.settings.brand_kicker | default: '15 years of crafted living'
  assign phone_label = section.settings.phone_label | default: '+91-8800-609-609'
  assign phone_url = section.settings.phone_url | default: 'tel:+918800609609'
  assign email_label = section.settings.email_label | default: 'care@bluewud.com'
  assign email_url = section.settings.email_url | default: 'mailto:care@bluewud.com'
  assign cta_label = section.settings.cta_label | default: 'Bulk Enquiries'
  assign cta_url = section.settings.cta_url
  assign brand_logo = section.settings.brand_logo
  assign brand_logo_treatment = 'tinted'
  assign current_path = request.path
  assign query_string = blank
  assign search_terms = blank
  assign page_handle = blank
  assign collection_handle = blank
  assign modular_kitchen_url = '/collections/kitchen-racks'
  assign modular_wardrobe_url = '/collections/wardrobe'
  assign modular_kitchen_calculator_url = '/collections/kitchen-racks?planner=kitchen-calculator'
  assign modular_wardrobe_calculator_url = '/collections/wardrobe?planner=wardrobe-calculator'
  assign home_interiors_calculator_url = '/collections/kitchen-racks?planner=home-interiors'
  assign estimate_url = '/pages/get-free-estimate'
  assign about_url = '/pages/about-us'
  assign contact_url = '/pages/contact-us'
  assign visit_url = '/pages/visit-us'
  assign help_center_url = '/pages/help-center'
  assign installation_cancellation_url = help_center_url
  assign bulk_url = '/pages/buy-in-bulk'
  assign offers_url = '/pages/offers-discount'
  assign awards_url = '/pages/award-achievment'
  assign policies_url = '/pages/policies'
  assign returns_url = '/pages/returns-refunds'
  assign payment_security_url = '/pages/payment-security'
  assign terms_url = '/pages/terms-of-use'
  assign living_room_url = '/collections/living-room'
  assign bedroom_url = '/collections/bed-room'
  assign study_room_url = '/collections/study-tables'
  assign tv_unit_url = '/collections/tv-unit-furniture'
  assign shoe_rack_url = '/collections/shoe-racks'
  assign coffee_table_url = '/collections/coffee-table'
  assign bookshelves_url = '/collections/book-shelves'
  assign dressers_url = '/collections/dressing-tables'
  assign living_room_collection = collections['living-room']
  assign bedroom_collection = collections['bed-room']
  assign study_room_collection = collections['study-tables']
  assign tv_unit_collection = collections['tv-unit-furniture']
  assign shoe_rack_collection = collections['shoe-racks']
  assign coffee_table_collection = collections['coffee-table']
  assign bookshelves_collection = collections['book-shelves']
  assign dressers_collection = collections['dressing-tables']

  if page != blank and page.handle != blank
    assign page_handle = page.handle
  endif

  if collection != blank and collection.handle != blank
    assign collection_handle = collection.handle
  endif

  if request.query_string != blank
    assign query_string = request.query_string | downcase
  endif

  if request.page_type == 'search' and search.terms != blank
    assign search_terms = search.terms | downcase
  endif

  if study_room_collection == blank
    assign study_room_collection = collections['study-table']
  endif

  if study_room_collection == blank
    assign study_room_collection = collections['smartly-designed-wfh-furniture']
  endif

  if living_room_collection != blank and living_room_collection.url != blank
    assign living_room_url = living_room_collection.url
  endif
  if bedroom_collection != blank and bedroom_collection.url != blank
    assign bedroom_url = bedroom_collection.url
  endif
  if study_room_collection != blank and study_room_collection.url != blank
    assign study_room_url = study_room_collection.url
  endif
  if tv_unit_collection != blank and tv_unit_collection.url != blank
    assign tv_unit_url = tv_unit_collection.url
  endif
  if shoe_rack_collection != blank and shoe_rack_collection.url != blank
    assign shoe_rack_url = shoe_rack_collection.url
  endif
  if coffee_table_collection != blank and coffee_table_collection.url != blank
    assign coffee_table_url = coffee_table_collection.url
  endif
  if bookshelves_collection != blank and bookshelves_collection.url != blank
    assign bookshelves_url = bookshelves_collection.url
  endif
  if dressers_collection != blank and dressers_collection.url != blank
    assign dressers_url = dressers_collection.url
  endif
  assign wall_mount_tv_query = 'wall mount tv unit' | url_encode
  assign floor_standing_tv_query = 'floor standing tv unit' | url_encode
  assign two_door_shoe_rack_query = '2 door shoe rack' | url_encode
  assign three_door_shoe_rack_query = '3 door shoe rack' | url_encode
  assign shelves_query = 'shelves' | url_encode
  assign wall_mount_corner_shelves_query = 'wall mount corner shelves' | url_encode
  assign floor_standing_corner_shelves_query = 'floor standing corner shelves' | url_encode
  assign wall_shelves_query = 'wall shelves' | url_encode
  assign two_door_wardrobe_query = '2 door wardrobe' | url_encode
  assign three_door_wardrobe_query = '3 door wardrobe' | url_encode
  assign four_door_wardrobe_query = '4 door wardrobe' | url_encode
  assign beds_query = 'beds' | url_encode
  assign king_size_bed_query = 'king size bed' | url_encode
  assign queen_size_bed_query = 'queen size bed' | url_encode
  assign wall_shelf_query = 'wall shelf' | url_encode
  assign wall_mount_tv_url = routes.search_url | append: '?type=product&q=' | append: wall_mount_tv_query
  assign floor_standing_tv_url = routes.search_url | append: '?type=product&q=' | append: floor_standing_tv_query
  assign two_door_shoe_rack_url = routes.search_url | append: '?type=product&q=' | append: two_door_shoe_rack_query
  assign three_door_shoe_rack_url = routes.search_url | append: '?type=product&q=' | append: three_door_shoe_rack_query
  assign shelves_url = routes.search_url | append: '?type=product&q=' | append: shelves_query
  assign wall_mount_corner_shelves_url = routes.search_url | append: '?type=product&q=' | append: wall_mount_corner_shelves_query
  assign floor_standing_corner_shelves_url = routes.search_url | append: '?type=product&q=' | append: floor_standing_corner_shelves_query
  assign wall_shelves_url = routes.search_url | append: '?type=product&q=' | append: wall_shelves_query
  assign two_door_wardrobe_url = routes.search_url | append: '?type=product&q=' | append: two_door_wardrobe_query
  assign three_door_wardrobe_url = routes.search_url | append: '?type=product&q=' | append: three_door_wardrobe_query
  assign four_door_wardrobe_url = routes.search_url | append: '?type=product&q=' | append: four_door_wardrobe_query
  assign beds_url = routes.search_url | append: '?type=product&q=' | append: beds_query
  assign king_size_bed_url = routes.search_url | append: '?type=product&q=' | append: king_size_bed_query
  assign queen_size_bed_url = routes.search_url | append: '?type=product&q=' | append: queen_size_bed_query
  assign study_table_url = study_room_url
  assign wall_shelf_url = routes.search_url | append: '?type=product&q=' | append: wall_shelf_query
  assign price_calculator_url = home_interiors_calculator_url
  assign l_shape_kitchen_url = modular_kitchen_url | append: '#l-shape'
  assign u_shape_kitchen_url = modular_kitchen_url | append: '#u-shape'
  assign parallel_kitchen_url = modular_kitchen_url | append: '#parallel'
  assign straight_kitchen_url = modular_kitchen_url | append: '#straight'
  assign island_kitchen_url = modular_kitchen_url | append: '#island'
  assign sliding_wardrobe_url = modular_wardrobe_url | append: '#sliding-wardrobe'
  assign hinged_wardrobe_url = modular_wardrobe_url | append: '#hinged-wardrobe'
  assign walk_in_wardrobe_url = modular_wardrobe_url | append: '#walk-in-wardrobe'
  assign drawer_nav_labels = 'Living Room|Bedroom|Study Room|TV Unit|Shoe Rack|Shelves|Coffee Table|Bookshelves|Modular Kitchen|Wardrobes|Price Calculator|Chest of Drawer' | split: '|'
  assign drawer_nav_urls = '/collections/living-room|/collections/bed-room|/collections/study-tables|/collections/tv-unit-furniture|/collections/shoe-racks|/search?type=product&q=shelves|/collections/coffee-table|/collections/book-shelves|/collections/kitchen-racks|/collections/wardrobe|/collections/kitchen-racks?planner=home-interiors|/collections/chest-of-drawer' | split: '|'
  if brand_logo == blank and settings.checkout_logo_image != blank
    assign brand_logo = settings.checkout_logo_image
  endif

  if brand_logo == blank and settings.favicon != blank
    assign brand_logo = settings.favicon
  endif

  if pages['modular-kitchen-designs'] != blank
    assign modular_kitchen_url = pages['modular-kitchen-designs'].url
    assign l_shape_kitchen_url = modular_kitchen_url | append: '#l-shape'
    assign u_shape_kitchen_url = modular_kitchen_url | append: '#u-shape'
    assign parallel_kitchen_url = modular_kitchen_url | append: '#parallel'
    assign straight_kitchen_url = modular_kitchen_url | append: '#straight'
    assign island_kitchen_url = modular_kitchen_url | append: '#island'
  endif

  if pages['modular-wardrobe-designs'] != blank
    assign modular_wardrobe_url = pages['modular-wardrobe-designs'].url
    assign sliding_wardrobe_url = modular_wardrobe_url | append: '#sliding-wardrobe'
    assign hinged_wardrobe_url = modular_wardrobe_url | append: '#hinged-wardrobe'
    assign walk_in_wardrobe_url = modular_wardrobe_url | append: '#walk-in-wardrobe'
  endif

  if pages['modular-kitchen-cost-calculator'] != blank
    assign modular_kitchen_calculator_url = pages['modular-kitchen-cost-calculator'].url
  endif

  if pages['modular-wardrobe-cost-calculator'] != blank
    assign modular_wardrobe_calculator_url = pages['modular-wardrobe-cost-calculator'].url
  endif

  if pages['home-interiors-cost-calculator'] != blank
    assign home_interiors_calculator_url = pages['home-interiors-cost-calculator'].url
    assign price_calculator_url = home_interiors_calculator_url
  endif

  if pages['get-free-estimate'] != blank
    assign estimate_url = pages['get-free-estimate'].url
  endif

  if pages['get-free-estimate'] == blank and pages['contact-us'] != blank
    assign estimate_url = pages['contact-us'].url
  endif

  if pages['about-us'] != blank
    assign about_url = pages['about-us'].url
  endif
  if pages['contact-us'] != blank
    assign contact_url = pages['contact-us'].url
  endif
  if pages['visit-us'] != blank
    assign visit_url = pages['visit-us'].url
  endif
  if pages['help-center'] != blank
    assign help_center_url = pages['help-center'].url
    assign installation_cancellation_url = help_center_url
  endif
  if pages['installation-cancellation'] != blank
    assign installation_cancellation_url = pages['installation-cancellation'].url
  endif
  if pages['buy-in-bulk'] != blank
    assign bulk_url = pages['buy-in-bulk'].url
  endif
  if pages['offers-discount'] != blank
    assign offers_url = pages['offers-discount'].url
  endif
  if pages['award-achievment'] != blank
    assign awards_url = pages['award-achievment'].url
  endif
  if pages['policies'] != blank
    assign policies_url = pages['policies'].url
  endif
  if pages['returns-refunds'] != blank
    assign returns_url = pages['returns-refunds'].url
  endif
  if pages['payment-security'] != blank
    assign payment_security_url = pages['payment-security'].url
  endif
  if pages['terms-of-use'] != blank
    assign terms_url = pages['terms-of-use'].url
  endif

  if cta_url == blank
    assign cta_url = bulk_url
  endif

  assign is_modular_kitchen_active = false
  assign is_modular_wardrobe_active = false
  assign is_price_calculator_active = false
  assign is_living_room_active = false
  assign is_bedroom_active = false
  assign is_study_room_active = false
  assign is_tv_unit_active = false
  assign is_shoe_rack_active = false
  assign is_shelves_active = false
  assign is_coffee_table_active = false
  assign is_bookshelves_active = false

  if collection_handle == 'living-room'
    assign is_living_room_active = true
  endif
  if collection_handle == 'bed-room'
    assign is_bedroom_active = true
  endif
  if collection_handle == 'study-tables' or collection_handle == 'study-table' or collection_handle == 'smartly-designed-wfh-furniture'
    assign is_study_room_active = true
  endif
  if collection_handle == 'tv-unit-furniture'
    assign is_tv_unit_active = true
  endif
  if collection_handle == 'shoe-racks'
    assign is_shoe_rack_active = true
  endif
  if collection_handle == 'corner-shelves' or collection_handle == 'shelves'
    assign is_shelves_active = true
  endif
  if collection_handle == 'coffee-table'
    assign is_coffee_table_active = true
  endif
  if collection_handle == 'book-shelves'
    assign is_bookshelves_active = true
  endif

  if collection_handle == 'kitchen-racks' and query_string == blank
    assign is_modular_kitchen_active = true
  endif
  if page_handle == 'modular-kitchen-designs' or page_handle == 'l-shape-modular-kitchen-design' or page_handle == 'u-shape-modular-kitchen-design' or page_handle == 'parallel-modular-kitchen-design' or page_handle == 'straight-modular-kitchen' or page_handle == 'kitchen-island-design'
    assign is_modular_kitchen_active = true
  endif
  if current_path == modular_kitchen_url or current_path == modular_kitchen_calculator_url
    assign is_modular_kitchen_active = true
  endif

  if collection_handle == 'wardrobe' and query_string == blank
    assign is_modular_wardrobe_active = true
  endif
  if page_handle == 'modular-wardrobe-designs' or page_handle == 'sliding-wardrobe-designs' or page_handle == 'hinged-wardrobes' or page_handle == 'walk-in-wardrobes'
    assign is_modular_wardrobe_active = true
  endif
  if current_path == modular_wardrobe_url or current_path == modular_wardrobe_calculator_url
    assign is_modular_wardrobe_active = true
  endif

  if page_handle == 'home-interiors-cost-calculator' or page_handle == 'modular-kitchen-cost-calculator' or page_handle == 'modular-wardrobe-cost-calculator'
    assign is_price_calculator_active = true
  endif
  if current_path == home_interiors_calculator_url or current_path == modular_kitchen_calculator_url or current_path == modular_wardrobe_calculator_url
    assign is_price_calculator_active = true
  endif
  if query_string contains 'planner='
    assign is_price_calculator_active = true
  endif

  if request.page_type == 'search' and search_terms != blank
    if search_terms contains 'calculator' or search_terms contains 'estimate' or search_terms contains 'quote' or search_terms contains 'price'
      assign is_price_calculator_active = true
    elsif search_terms contains 'wardrobe' or search_terms contains 'dresser' or search_terms contains 'closet' or search_terms contains 'bedroom' or search_terms contains 'bed '
      assign is_bedroom_active = true
    elsif search_terms contains 'kitchen' or search_terms contains 'modular kitchen' or search_terms contains 'kitchen rack' or search_terms contains 'l-shape' or search_terms contains 'u-shape' or search_terms contains 'parallel' or search_terms contains 'straight' or search_terms contains 'island'
      assign is_modular_kitchen_active = true
    elsif search_terms contains 'study table' or search_terms contains 'bookshelf' or search_terms contains 'wall shelf'
      assign is_study_room_active = true
    elsif search_terms contains 'tv unit' or search_terms contains 'tv stand'
      assign is_tv_unit_active = true
    elsif search_terms contains 'shoe rack'
      assign is_shoe_rack_active = true
    elsif search_terms contains 'coffee table'
      assign is_coffee_table_active = true
    elsif search_terms contains 'book shelf' or search_terms contains 'bookshelves'
      assign is_bookshelves_active = true
    elsif search_terms contains 'shelf' or search_terms contains 'shelves'
      assign is_shelves_active = true
    elsif search_terms contains 'living room' or search_terms contains 'sofa'
      assign is_living_room_active = true
    endif
  endif

  capture drawer_nav_urls_string
    echo living_room_url | append: '|'
    echo bedroom_url | append: '|'
    echo study_room_url | append: '|'
    echo tv_unit_url | append: '|'
    echo shoe_rack_url | append: '|'
    echo shelves_url | append: '|'
    echo coffee_table_url | append: '|'
    echo bookshelves_url | append: '|'
    echo modular_kitchen_url | append: '|'
    echo modular_wardrobe_url | append: '|'
    echo price_calculator_url | append: '|'
    echo '/collections/chest-of-drawer'
  endcapture
  assign drawer_nav_urls = drawer_nav_urls_string | split: '|'

  if pages['l-shape-modular-kitchen-design'] != blank
    assign l_shape_kitchen_url = pages['l-shape-modular-kitchen-design'].url
  endif
  if pages['u-shape-modular-kitchen-design'] != blank
    assign u_shape_kitchen_url = pages['u-shape-modular-kitchen-design'].url
  endif
  if pages['parallel-modular-kitchen-design'] != blank
    assign parallel_kitchen_url = pages['parallel-modular-kitchen-design'].url
  endif
  if pages['straight-modular-kitchen'] != blank
    assign straight_kitchen_url = pages['straight-modular-kitchen'].url
  endif
  if pages['kitchen-island-design'] != blank
    assign island_kitchen_url = pages['kitchen-island-design'].url
  endif
  if pages['sliding-wardrobe-designs'] != blank
    assign sliding_wardrobe_url = pages['sliding-wardrobe-designs'].url
  endif
  if pages['hinged-wardrobes'] != blank
    assign hinged_wardrobe_url = pages['hinged-wardrobes'].url
  endif
  if pages['walk-in-wardrobes'] != blank
    assign walk_in_wardrobe_url = pages['walk-in-wardrobes'].url
  endif
%}

<style>
  .visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }

  body.bw-header-drawer-open {
    overflow: hidden;
    overscroll-behavior: none;
  }

  .bw-header-shell {
    position: relative;
    z-index: 10000;
    overflow: visible;
    background: rgba(248, 243, 237, 0.96);
    backdrop-filter: blur(18px);
    border-bottom: 1px solid rgba(45, 33, 27, 0.08);
    box-shadow: 0 14px 28px rgba(32, 24, 19, 0.05);
  }

  .bw-header-shell a {
    text-decoration: none;
  }

  .bw-header__utility {
    border-bottom: 1px solid rgba(45, 33, 27, 0.08);
    background: rgba(255, 255, 255, 0.26);
  }

  .bw-header__utility-inner,
  .bw-header__main-inner {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 28px;
    padding-right: 28px;
  }

  .bw-header__utility-inner {
    min-height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
  }

  .bw-header__contact,
  .bw-header__support-links,
  .bw-header__nav,
  .bw-header__actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .bw-header__contact {
    flex-wrap: wrap;
  }

  .bw-header__support-links {
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 12px 16px;
  }

  .bw-header__utility-link,
  .bw-header__support-link {
    color: rgba(53, 43, 36, 0.78);
    font-size: 11px;
    font-weight: 650;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    transition: color 0.2s ease;
  }

  .bw-header__utility-link:hover,
  .bw-header__support-link:hover {
    color: #355a6d;
  }

  .bw-header__contact-separator {
    width: 4px;
    height: 4px;
    border-radius: 999px;
    background: rgba(45, 33, 27, 0.22);
  }

  .bw-header__support-link {
    color: #2b201a;
  }

  .bw-header__main-inner {
    min-height: 96px;
    display: grid;
    grid-template-columns: minmax(200px, 270px) minmax(0, 1fr) auto;
    align-items: start;
    gap: 12px 18px;
    padding-top: 14px;
    padding-bottom: 10px;
    overflow: visible;
  }

  .bw-header__brand {
    display: block;
    min-width: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: transform 0.22s ease;
  }

  .bw-header__brand-visual {
    width: 56px;
    height: 56px;
    flex: 0 0 56px;
    border-radius: 18px;
    border: 1px solid rgba(45, 33, 27, 0.09);
    background: linear-gradient(135deg, #f7efe7 0%, #ecdfd3 54%, #dbe5ec 100%);
    box-shadow: 0 12px 22px rgba(36, 26, 21, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .bw-header__brand-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
  }

  .bw-header__brand-seal {
    font-family: var(--bw-font-serif);
    font-size: 24px;
    font-weight: 700;
    color: #355a6d;
  }

  .bw-header__brand-copy {
    display: flex;
    flex-direction: column;
    gap: 2px;
    min-width: 0;
  }

  .bw-header__brand-copy--with-logo {
    gap: 4px;
  }

  .bw-header__brand-kicker {
    display: none;
  }

  .bw-header__brand-wordmark {
    display: inline-block;
    font-family: var(--bw-font-sans);
    font-size: 31px;
    font-weight: 800;
    line-height: 0.95;
    letter-spacing: -0.065em;
    color: #4f788f;
    transition: color 0.22s ease, background 0.22s ease, -webkit-text-fill-color 0.22s ease;
  }

  .bw-header__brand:hover,
  .bw-header__brand:focus-visible {
    transform: translateY(-1px);
  }

  .bw-header__brand:hover .bw-header__brand-wordmark,
  .bw-header__brand:focus-visible .bw-header__brand-wordmark {
    background: linear-gradient(90deg, #4f788f 0 50%, #ffffff 50% 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 1px rgba(32, 23, 19, 0.16);
  }

  .bw-header__brand-logo-frame {
    display: inline-flex;
    align-items: center;
    max-width: min(100%, 240px);
    line-height: 0;
  }

  .bw-header__brand-logo-image {
    display: block;
    width: auto;
    max-width: 100%;
    height: 34px;
    object-fit: contain;
    object-position: left center;
    transition: filter 0.22s ease, opacity 0.22s ease;
  }

  .bw-header__brand-logo-image--tinted {
    filter: brightness(0) saturate(100%) invert(31%) sepia(20%) saturate(815%) hue-rotate(159deg) brightness(90%) contrast(89%);
  }

  .bw-header__brand:hover .bw-header__brand-logo-image--tinted,
  .bw-header__brand:focus-visible .bw-header__brand-logo-image--tinted {
    filter: brightness(0) saturate(100%) invert(21%) sepia(20%) saturate(894%) hue-rotate(161deg) brightness(88%) contrast(90%);
  }

  .bw-header__brand-tagline {
    color: #6c5b51;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .bw-header__nav {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    justify-self: stretch;
    justify-content: center;
    align-items: stretch;
    gap: 6px;
    min-width: 0;
    width: 100%;
    margin-top: 0;
    padding: 8px 8px 0;
    border-top: 1px solid rgba(45, 33, 27, 0.08);
    overflow: visible;
  }

  .bw-header__nav-item {
    position: relative;
    display: flex;
    align-items: stretch;
    z-index: 1;
  }

  .bw-header__nav-item:hover,
  .bw-header__nav-item:focus-within {
    z-index: 4;
  }

  .bw-header__nav-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #241a15;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.01em;
    position: relative;
    min-height: 38px;
    padding: 0 9px 6px;
    white-space: nowrap;
    transition: color 0.2s ease, transform 0.2s ease;
  }

  .bw-header__nav-link--has-children::before {
    content: '';
    order: 1;
    width: 7px;
    height: 7px;
    border-right: 1.6px solid currentColor;
    border-bottom: 1.6px solid currentColor;
    transform: rotate(45deg) translateY(-1px);
    flex: 0 0 auto;
    opacity: 0.7;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }

  .bw-header__nav-item:hover .bw-header__nav-link--has-children::before,
  .bw-header__nav-item:focus-within .bw-header__nav-link--has-children::before {
    transform: rotate(225deg) translateY(-1px);
    opacity: 1;
  }

  .bw-header__nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 2px;
    width: 20px;
    height: 2px;
    border-radius: 999px;
    background: linear-gradient(90deg, #355a6d 0%, #a66a43 100%);
    transform: translateX(-50%) scaleX(0);
    transform-origin: center center;
    transition: transform 0.22s ease;
  }

  .bw-header__nav-link:hover,
  .bw-header__nav-link:focus-visible,
  .bw-header__nav-link.is-active,
  .bw-header__nav-item:hover > .bw-header__nav-link,
  .bw-header__nav-item:focus-within > .bw-header__nav-link {
    color: #355a6d;
    transform: translateY(-1px);
  }

  .bw-header__nav-link:hover::after,
  .bw-header__nav-link:focus-visible::after,
  .bw-header__nav-link.is-active::after,
  .bw-header__nav-item:hover > .bw-header__nav-link::after,
  .bw-header__nav-item:focus-within > .bw-header__nav-link::after {
    transform: translateX(-50%) scaleX(1);
  }

  .bw-header__nav-link:focus-visible,
  .bw-header__dropdown-link:focus-visible,
  .bw-header__icon-link:focus-visible,
  .bw-header__cta:focus-visible,
  .bw-header__drawer-link:focus-visible,
  .bw-header__drawer-pill:focus-visible {
    outline: 2px solid rgba(53, 90, 109, 0.42);
    outline-offset: 3px;
  }

  .bw-header__dropdown {
    position: absolute;
    top: calc(100% - 2px);
    left: 50%;
    z-index: 10010;
    min-width: 250px;
    max-width: min(360px, calc(100vw - 24px));
    padding: 10px;
    border-radius: 22px;
    border: 1px solid rgba(45, 33, 27, 0.1);
    background: rgba(255, 251, 247, 0.98);
    box-shadow: 0 20px 42px rgba(35, 24, 19, 0.12);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translate(-50%, 8px);
    transition: opacity 0.22s ease, visibility 0.22s ease, transform 0.22s ease;
    backdrop-filter: blur(16px);
  }

  .bw-header__nav-item:hover .bw-header__dropdown,
  .bw-header__nav-item:focus-within .bw-header__dropdown {
    z-index: 9400;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate(-50%, 0);
  }

  .bw-header__nav-item:first-child .bw-header__dropdown {
    left: 0;
    transform: translate(0, 10px);
  }

  .bw-header__nav-item:first-child:hover .bw-header__dropdown,
  .bw-header__nav-item:first-child:focus-within .bw-header__dropdown {
    transform: translate(0, 0);
  }

  .bw-header__nav-item:last-child .bw-header__dropdown {
    left: auto;
    right: 0;
    transform: translate(0, 10px);
  }

  .bw-header__nav-item:last-child:hover .bw-header__dropdown,
  .bw-header__nav-item:last-child:focus-within .bw-header__dropdown {
    transform: translate(0, 0);
  }

  .bw-header__dropdown-grid {
    display: grid;
    gap: 10px;
  }

  .bw-header__dropdown-group {
    display: grid;
    gap: 4px;
  }

  .bw-header__dropdown-heading {
    color: #8a684f;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 0.16em;
    text-transform: uppercase;
  }

  .bw-header__dropdown-link {
    display: inline-flex;
    align-items: center;
    color: #241a15;
    font-size: 12.5px;
    font-weight: 650;
    line-height: 1.35;
    padding: 3px 0;
    transition: color 0.2s ease, transform 0.2s ease;
  }

  .bw-header__dropdown-link:hover,
  .bw-header__dropdown-link:focus-visible {
    color: #355a6d;
    transform: translateX(2px);
  }

  .bw-header__dropdown-link--strong {
    font-weight: 800;
  }

  .bw-header__dropdown-grid--two {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 14px;
  }

  .bw-header__nav-item--wide .bw-header__dropdown {
    min-width: 300px;
  }

  .bw-header__nav-item--wider .bw-header__dropdown {
    min-width: 340px;
  }

  @media (max-width: 1280px) {
    .bw-header__nav {
      gap: 4px;
    }

    .bw-header__nav-link {
      padding: 14px 8px 11px;
      font-size: 12px;
      letter-spacing: 0.06em;
    }

    .bw-header__dropdown,
    .bw-header__nav-item--wide .bw-header__dropdown,
    .bw-header__nav-item--wider .bw-header__dropdown {
      min-width: min(320px, calc(100vw - 24px));
    }
  }

  .bw-header__actions {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-content: flex-end;
    gap: 12px;
  }

  .bw-header__icon-link,
  .bw-header__menu-button,
  .bw-header__drawer-close {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid rgba(45, 33, 27, 0.12);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #241a15;
    background: rgba(255, 255, 255, 0.72);
    cursor: pointer;
    transition: border-color 0.22s ease, transform 0.22s ease, background 0.22s ease, color 0.22s ease, box-shadow 0.22s ease;
  }

  .bw-header__icon-link:hover,
  .bw-header__menu-button:hover,
  .bw-header__drawer-close:hover {
    border-color: rgba(53, 90, 109, 0.28);
    background: #ffffff;
    color: #355a6d;
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(35, 24, 19, 0.08);
  }

  .bw-header__icon-link svg,
  .bw-header__menu-button svg,
  .bw-header__drawer-close svg {
    width: 18px;
    height: 18px;
  }

  .bw-header__cta {
    padding: 13px 22px;
    border-radius: 999px;
    background: linear-gradient(135deg, #231813 0%, #3c2a21 100%);
    color: #f8f0e9;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    white-space: nowrap;
    box-shadow: 0 12px 22px rgba(35, 24, 19, 0.14);
    transition: transform 0.22s ease, box-shadow 0.22s ease, filter 0.22s ease;
  }

  .bw-header__cta:hover {
    transform: translateY(-1px);
    box-shadow: 0 14px 26px rgba(35, 24, 19, 0.18);
    filter: saturate(1.05);
  }

  .bw-header__cart {
    position: relative;
  }

  .bw-header__cart-count {
    position: absolute;
    top: -5px;
    right: -4px;
    min-width: 18px;
    height: 18px;
    border-radius: 999px;
    padding: 0 5px;
    background: #a66a43;
    color: #fff;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    font-weight: 800;
  }

  .bw-header__menu-button {
    display: none;
  }

  .bw-header__drawer {
    position: fixed;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 9800;
    transition: opacity 0.28s ease, visibility 0.28s ease;
  }

  .bw-header__drawer.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .bw-header__drawer-backdrop {
    position: absolute;
    inset: 0;
    background: rgba(20, 15, 12, 0.45);
    opacity: 0;
    transition: opacity 0.28s ease;
  }

  .bw-header__drawer-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: min(88vw, 360px);
    height: 100%;
    max-height: 100dvh;
    background: #fbf6f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: auto;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    padding-bottom: calc(28px + env(safe-area-inset-bottom));
    box-shadow: 24px 0 48px rgba(0, 0, 0, 0.18);
    transform: translateX(-24px);
    opacity: 0;
    transition: transform 0.32s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.24s ease;
    will-change: transform, opacity;
  }

  .bw-header__drawer.is-open .bw-header__drawer-backdrop {
    opacity: 1;
  }

  .bw-header__drawer.is-open .bw-header__drawer-panel {
    transform: translateX(0);
    opacity: 1;
  }

  .bw-header__drawer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }

  .bw-header__drawer-nav,
  .bw-header__drawer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .bw-header__drawer-planning {
    display: grid;
    gap: 10px;
  }

  .bw-header__drawer-planning-links {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .bw-header__drawer-pill {
    display: inline-flex;
    align-items: center;
    min-height: 40px;
    padding: 0 14px;
    border-radius: 999px;
    border: 1px solid rgba(35, 24, 19, 0.09);
    background: rgba(255, 255, 255, 0.74);
    color: #231813;
    font-size: 11px;
    font-weight: 800;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }

  .bw-header__drawer-panel > * {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.22s ease, transform 0.32s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .bw-header__drawer.is-open .bw-header__drawer-panel > * {
    opacity: 1;
    transform: translateY(0);
  }

  .bw-header__drawer.is-open .bw-header__drawer-panel > :nth-child(1) { transition-delay: 0.04s; }
  .bw-header__drawer.is-open .bw-header__drawer-panel > :nth-child(2) { transition-delay: 0.08s; }
  .bw-header__drawer.is-open .bw-header__drawer-panel > :nth-child(3) { transition-delay: 0.12s; }
  .bw-header__drawer.is-open .bw-header__drawer-panel > :nth-child(4) { transition-delay: 0.16s; }
  .bw-header__drawer.is-open .bw-header__drawer-panel > :nth-child(5) { transition-delay: 0.2s; }
  .bw-header__drawer.is-open .bw-header__drawer-panel > :nth-child(6) { transition-delay: 0.24s; }

  .bw-header__drawer-heading {
    color: #6d5b52;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  .bw-header__drawer-link {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 44px;
    color: #231813;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0;
    border-bottom: 1px solid rgba(45, 33, 27, 0.08);
    transition: color 0.2s ease, transform 0.2s ease, border-color 0.2s ease;
  }

  .bw-header__drawer-link:hover,
  .bw-header__drawer-link:focus-visible {
    color: #355a6d;
    border-bottom-color: rgba(53, 90, 109, 0.2);
    transform: translateX(4px);
  }

  .bw-header__drawer-contact {
    display: grid;
    gap: 10px;
    padding: 16px;
    border-radius: 18px;
    background: rgba(35, 24, 19, 0.04);
  }

  .bw-header__drawer-contact a {
    display: flex;
    align-items: center;
    min-height: 44px;
    color: #231813;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
  }

  @media (max-width: 1240px) {
    .bw-header__main-inner {
      grid-template-columns: minmax(220px, 280px) minmax(0, 1fr) auto;
      gap: 22px;
    }

    .bw-header__nav {
      gap: 4px;
      padding-left: 0;
      padding-right: 0;
    }

    .bw-header__nav-link {
      font-size: 12px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .bw-header__dropdown {
      min-width: 240px;
    }

    .bw-header__nav-item--wide .bw-header__dropdown,
    .bw-header__nav-item--wider .bw-header__dropdown {
      min-width: 300px;
    }
  }

  @media (max-width: 1024px) {
    .bw-header__utility {
      display: none;
    }

    .bw-header__main-inner {
      min-height: 78px;
      grid-template-columns: auto 1fr auto;
      gap: 14px;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 12px;
      padding-bottom: 12px;
      align-items: center;
    }

    .bw-header__nav,
    .bw-header__cta,
    .bw-header__icon-link--account {
      display: none;
    }

    .bw-header__menu-button {
      display: inline-flex;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    .bw-header__brand {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    .bw-header__actions {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      gap: 10px;
    }

    .bw-header__brand-visual {
      width: 48px;
      height: 48px;
      flex-basis: 48px;
      border-radius: 16px;
    }

    .bw-header__brand-wordmark {
      font-size: 30px;
    }

    .bw-header__brand-logo-image {
      height: 30px;
    }

    .bw-header__brand-tagline {
      font-size: 9px;
      letter-spacing: 0.11em;
    }

    .bw-header__drawer-panel {
      width: min(92vw, 340px);
      padding: 18px 18px 28px;
      gap: 20px;
    }
  }

  @media (max-width: 640px) {
    .bw-header__brand-kicker,
    .bw-header__brand-tagline {
      display: none;
    }

    .bw-header__brand-wordmark {
      font-size: 26px;
    }

    .bw-header__brand-logo-image {
      height: 26px;
    }

    .bw-header__icon-link,
    .bw-header__menu-button,
    .bw-header__drawer-close {
      width: 42px;
      height: 42px;
    }

    .bw-header__drawer-link {
      font-size: 15px;
      padding: 11px 0;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .bw-header__brand,
    .bw-header__brand-wordmark,
    .bw-header__nav-link,
    .bw-header__nav-link::after,
    .bw-header__dropdown,
    .bw-header__dropdown-link,
    .bw-header__icon-link,
    .bw-header__menu-button,
    .bw-header__drawer-close,
    .bw-header__cta,
    .bw-header__drawer,
    .bw-header__drawer-backdrop,
    .bw-header__drawer-panel,
    .bw-header__drawer-panel > *,
    .bw-header__drawer-link {
      transition: none !important;
      transform: none !important;
      animation: none !important;
    }
  }
</style>

<div class="bw-header-shell">
  <div class="bw-header__main-inner">
    <button class="bw-header__menu-button" type="button" aria-expanded="false" aria-controls="bw-header-drawer-{{ section.id }}" data-bw-header-open>
      <span class="visually-hidden">Open navigation</span>
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" aria-hidden="true">
        <path d="M4 7h16"></path>
        <path d="M4 12h16"></path>
        <path d="M4 17h16"></path>
      </svg>
    </button>

      <a class="bw-header__brand" href="{{ routes.root_url }}">
      <span class="bw-header__brand-copy{% if brand_logo != blank %} bw-header__brand-copy--with-logo{% endif %}">
        <span class="bw-header__brand-kicker">{{ brand_kicker }}</span>
        {% if brand_logo != blank %}
          <span class="bw-header__brand-logo-frame">
            <img
              class="bw-header__brand-logo-image{% if brand_logo_treatment == 'tinted' %} bw-header__brand-logo-image--tinted{% endif %}"
              src="{{ brand_logo | image_url: width: 480 }}"
              alt="{{ brand_name | escape }}"
              loading="eager"
              width="{{ brand_logo.width | default: 240 }}"
              height="{{ brand_logo.height | default: 80 }}"
            >
          </span>
        {% else %}
          <span class="bw-header__brand-wordmark">{{ brand_wordmark }}</span>
        {% endif %}
        <span class="bw-header__brand-tagline">{{ brand_tagline }}</span>
      </span>
    </a>

    <div class="bw-header__actions">
      <a class="bw-header__icon-link" href="{{ routes.search_url }}" aria-label="Search">
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" aria-hidden="true">
          <circle cx="11" cy="11" r="7"></circle>
          <path d="M20 20l-3.5-3.5"></path>
        </svg>
      </a>
      <a class="bw-header__icon-link bw-header__icon-link--account" href="{{ routes.account_url }}" aria-label="Account">
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" aria-hidden="true">
          <path d="M20 21a8 8 0 0 0-16 0"></path>
          <circle cx="12" cy="8" r="4"></circle>
        </svg>
      </a>
      <a class="bw-header__icon-link bw-header__cart" href="{{ routes.cart_url }}" aria-label="Cart">
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" aria-hidden="true">
          <path d="M6 7h15l-1.4 7.1a2 2 0 0 1-2 1.6H9.1a2 2 0 0 1-2-1.6L5.1 3.8H2.5"></path>
          <circle cx="10" cy="19" r="1.5"></circle>
          <circle cx="18" cy="19" r="1.5"></circle>
        </svg>
        {% if cart.item_count > 0 %}
          <span class="bw-header__cart-count">{{ cart.item_count }}</span>
        {% endif %}
      </a>
    </div>

    <nav class="bw-header__nav" aria-label="Primary">
      <div class="bw-header__nav-item bw-header__nav-item--wider">
        <a class="bw-header__nav-link bw-header__nav-link--has-children{% if is_living_room_active %} is-active{% endif %}" href="{{ living_room_url }}"{% if is_living_room_active %} aria-current="page"{% endif %}>Living Room</a>
        <div class="bw-header__dropdown" role="presentation">
          <div class="bw-header__dropdown-grid bw-header__dropdown-grid--two">
            <div class="bw-header__dropdown-group">
              <div class="bw-header__dropdown-heading">TV Unit</div>
              <a class="bw-header__dropdown-link bw-header__dropdown-link--strong" href="{{ tv_unit_url }}">TV Unit</a>
              <a class="bw-header__dropdown-link" href="{{ wall_mount_tv_url }}">Wall Mount TV Unit</a>
              <a class="bw-header__dropdown-link" href="{{ floor_standing_tv_url }}">Floor Standing TV Unit</a>
            </div>
            <div class="bw-header__dropdown-group">
              <div class="bw-header__dropdown-heading">Shoe Rack</div>
              <a class="bw-header__dropdown-link bw-header__dropdown-link--strong" href="{{ shoe_rack_url }}">Shoe Rack</a>
              <a class="bw-header__dropdown-link" href="{{ two_door_shoe_rack_url }}">2 Door</a>
              <a class="bw-header__dropdown-link" href="{{ three_door_shoe_rack_url }}">3 Door</a>
              <a class="bw-header__dropdown-link bw-header__dropdown-link--strong" href="{{ coffee_table_url }}">Coffee Table</a>
            </div>
          </div>
        </div>
      </div>

      <div class="bw-header__nav-item bw-header__nav-item--wider">
        <a class="bw-header__nav-link bw-header__nav-link--has-children{% if is_bedroom_active %} is-active{% endif %}" href="{{ bedroom_url }}"{% if is_bedroom_active %} aria-current="page"{% endif %}>Bedroom</a>
        <div class="bw-header__dropdown" role="presentation">
          <div class="bw-header__dropdown-grid bw-header__dropdown-grid--two">
            <div class="bw-header__dropdown-group">
              <div class="bw-header__dropdown-heading">Wardrobe</div>
              <a class="bw-header__dropdown-link bw-header__dropdown-link--strong" href="{{ modular_wardrobe_url }}">Wardrobe</a>
              <a class="bw-header__dropdown-link" href="{{ two_door_wardrobe_url }}">2 Door</a>
              <a class="bw-header__dropdown-link" href="{{ three_door_wardrobe_url }}">3 Door</a>
              <a class="bw-header__dropdown-link" href="{{ four_door_wardrobe_url }}">4 Door</a>
            </div>
            <div class="bw-header__dropdown-group">
              <div class="bw-header__dropdown-heading">Beds & Dressers</div>
              <a class="bw-header__dropdown-link bw-header__dropdown-link--strong" href="{{ beds_url }}">Beds</a>
              <a class="bw-header__dropdown-link" href="{{ king_size_bed_url }}">King Size</a>
              <a class="bw-header__dropdown-link" href="{{ queen_size_bed_url }}">Queen Size</a>
              <a class="bw-header__dropdown-link bw-header__dropdown-link--strong" href="{{ dressers_url }}">Dressers</a>
            </div>
          </div>
        </div>
      </div>

      <div class="bw-header__nav-item">
        <a class="bw-header__nav-link bw-header__nav-link--has-children{% if is_study_room_active %} is-active{% endif %}" href="{{ study_room_url }}"{% if is_study_room_active %} aria-current="page"{% endif %}>Study Room</a>
        <div class="bw-header__dropdown" role="presentation">
          <div class="bw-header__dropdown-grid">
            <a class="bw-header__dropdown-link bw-header__dropdown-link--strong" href="{{ study_table_url }}">Study Table</a>
            <a class="bw-header__dropdown-link" href="{{ bookshelves_url }}">Bookshelves</a>
            <a class="bw-header__dropdown-link" href="{{ wall_shelf_url }}">Wall Shelf</a>
          </div>
        </div>
      </div>

      <div class="bw-header__nav-item">
        <a class="bw-header__nav-link bw-header__nav-link--has-children{% if is_tv_unit_active %} is-active{% endif %}" href="{{ tv_unit_url }}"{% if is_tv_unit_active %} aria-current="page"{% endif %}>TV Unit</a>
        <div class="bw-header__dropdown" role="presentation">
          <div class="bw-header__dropdown-grid">
            <a class="bw-header__dropdown-link bw-header__dropdown-link--strong" href="{{ wall_mount_tv_url }}">Wall Mount TV Unit</a>
            <a class="bw-header__dropdown-link" href="{{ floor_standing_tv_url }}">Floor Standing TV Unit</a>
          </div>
        </div>
      </div>

      <div class="bw-header__nav-item">
        <a class="bw-header__nav-link bw-header__nav-link--has-children{% if is_shoe_rack_active %} is-active{% endif %}" href="{{ shoe_rack_url }}"{% if is_shoe_rack_active %} aria-current="page"{% endif %}>Shoe Rack</a>
        <div class="bw-header__dropdown" role="presentation">
          <div class="bw-header__dropdown-grid">
            <a class="bw-header__dropdown-link bw-header__dropdown-link--strong" href="{{ two_door_shoe_rack_url }}">2 Door Shoe Rack</a>
            <a class="bw-header__dropdown-link" href="{{ three_door_shoe_rack_url }}">3 Door Shoe Rack</a>
          </div>
        </div>
      </div>

      <div class="bw-header__nav-item">
        <a class="bw-header__nav-link bw-header__nav-link--has-children{% if is_shelves_active %} is-active{% endif %}" href="{{ shelves_url }}"{% if is_shelves_active %} aria-current="page"{% endif %}>Shelves</a>
        <div class="bw-header__dropdown" role="presentation">
          <div class="bw-header__dropdown-grid">
            <a class="bw-header__dropdown-link bw-header__dropdown-link--strong" href="{{ wall_mount_corner_shelves_url }}">Wall Mount Corner Shelves</a>
            <a class="bw-header__dropdown-link" href="{{ floor_standing_corner_shelves_url }}">Floor Standing Corner Shelves</a>
            <a class="bw-header__dropdown-link" href="{{ wall_shelves_url }}">Wall Shelves</a>
          </div>
        </div>
      </div>

      <div class="bw-header__nav-item">
        <a class="bw-header__nav-link bw-header__nav-link--has-children{% if is_coffee_table_active %} is-active{% endif %}" href="{{ coffee_table_url }}"{% if is_coffee_table_active %} aria-current="page"{% endif %}>Coffee Table</a>
        <div class="bw-header__dropdown" role="presentation">
          <div class="bw-header__dropdown-grid">
            <a class="bw-header__dropdown-link bw-header__dropdown-link--strong" href="{{ coffee_table_url }}">Coffee Table</a>
          </div>
        </div>
      </div>

      <div class="bw-header__nav-item">
        <a class="bw-header__nav-link bw-header__nav-link--has-children{% if is_bookshelves_active %} is-active{% endif %}" href="{{ bookshelves_url }}"{% if is_bookshelves_active %} aria-current="page"{% endif %}>Bookshelves</a>
        <div class="bw-header__dropdown" role="presentation">
          <div class="bw-header__dropdown-grid">
            <a class="bw-header__dropdown-link bw-header__dropdown-link--strong" href="{{ bookshelves_url }}">Bookshelves</a>
          </div>
        </div>
      </div>

      <div class="bw-header__nav-item bw-header__nav-item--wide">
        <a class="bw-header__nav-link bw-header__nav-link--has-children{% if is_modular_kitchen_active %} is-active{% endif %}" href="{{ modular_kitchen_url }}"{% if is_modular_kitchen_active %} aria-current="page"{% endif %}>Modular Kitchen</a>
        <div class="bw-header__dropdown" role="presentation">
          <div class="bw-header__dropdown-grid">
            <a class="bw-header__dropdown-link bw-header__dropdown-link--strong" href="{{ modular_kitchen_url }}">All Layouts</a>
            <a class="bw-header__dropdown-link" href="{{ l_shape_kitchen_url }}">L-Shape</a>
            <a class="bw-header__dropdown-link" href="{{ u_shape_kitchen_url }}">U-Shape</a>
            <a class="bw-header__dropdown-link" href="{{ parallel_kitchen_url }}">Parallel</a>
            <a class="bw-header__dropdown-link" href="{{ straight_kitchen_url }}">Straight</a>
            <a class="bw-header__dropdown-link" href="{{ island_kitchen_url }}">Island</a>
            <a class="bw-header__dropdown-link" href="{{ modular_kitchen_calculator_url }}">Kitchen Calculator</a>
            <a class="bw-header__dropdown-link" href="{{ estimate_url }}">Get Free Estimate</a>
          </div>
        </div>
      </div>

      <div class="bw-header__nav-item bw-header__nav-item--wide">
        <a class="bw-header__nav-link bw-header__nav-link--has-children{% if is_modular_wardrobe_active %} is-active{% endif %}" href="{{ modular_wardrobe_url }}"{% if is_modular_wardrobe_active %} aria-current="page"{% endif %}>Wardrobes</a>
        <div class="bw-header__dropdown" role="presentation">
          <div class="bw-header__dropdown-grid">
            <a class="bw-header__dropdown-link bw-header__dropdown-link--strong" href="{{ modular_wardrobe_url }}">All Wardrobes</a>
            <a class="bw-header__dropdown-link" href="{{ sliding_wardrobe_url }}">Sliding Wardrobes</a>
            <a class="bw-header__dropdown-link" href="{{ hinged_wardrobe_url }}">Hinged Wardrobes</a>
            <a class="bw-header__dropdown-link" href="{{ walk_in_wardrobe_url }}">Walk-In Wardrobes</a>
            <a class="bw-header__dropdown-link" href="{{ modular_wardrobe_calculator_url }}">Wardrobe Calculator</a>
            <a class="bw-header__dropdown-link" href="{{ estimate_url }}">Get Free Estimate</a>
          </div>
        </div>
      </div>

      <div class="bw-header__nav-item bw-header__nav-item--wide">
        <a class="bw-header__nav-link bw-header__nav-link--has-children{% if is_price_calculator_active %} is-active{% endif %}" href="{{ price_calculator_url }}"{% if is_price_calculator_active %} aria-current="page"{% endif %}>Price Calculator</a>
        <div class="bw-header__dropdown" role="presentation">
          <div class="bw-header__dropdown-grid">
            <a class="bw-header__dropdown-link bw-header__dropdown-link--strong" href="{{ home_interiors_calculator_url }}">Home Interiors Cost Calculator</a>
            <a class="bw-header__dropdown-link" href="{{ modular_kitchen_calculator_url }}">Modular Kitchen Cost Calculator</a>
            <a class="bw-header__dropdown-link" href="{{ modular_wardrobe_calculator_url }}">Modular Wardrobe Cost Calculator</a>
            <a class="bw-header__dropdown-link" href="{{ estimate_url }}">Get Free Estimate</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="bw-header__drawer" id="bw-header-drawer-{{ section.id }}" data-bw-header-drawer>
  <div class="bw-header__drawer-backdrop" data-bw-header-close></div>
  <div class="bw-header__drawer-panel">
    <div class="bw-header__drawer-top">
      <a class="bw-header__brand" href="{{ routes.root_url }}">
        <span class="bw-header__brand-copy{% if brand_logo != blank %} bw-header__brand-copy--with-logo{% endif %}">
          <span class="bw-header__brand-kicker">{{ brand_kicker }}</span>
          {% if brand_logo != blank %}
            <span class="bw-header__brand-logo-frame">
              <img
                class="bw-header__brand-logo-image{% if brand_logo_treatment == 'tinted' %} bw-header__brand-logo-image--tinted{% endif %}"
                src="{{ brand_logo | image_url: width: 360 }}"
                alt="{{ brand_name | escape }}"
                loading="lazy"
                width="{{ brand_logo.width | default: 240 }}"
                height="{{ brand_logo.height | default: 80 }}"
              >
            </span>
          {% else %}
            <span class="bw-header__brand-wordmark">{{ brand_wordmark }}</span>
          {% endif %}
        </span>
      </a>
      <button class="bw-header__drawer-close" type="button" aria-label="Close navigation" data-bw-header-close>
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" aria-hidden="true">
          <path d="M6 6l12 12"></path>
          <path d="M18 6l-12 12"></path>
        </svg>
      </button>
    </div>

    <div class="bw-header__drawer-nav">
      <div class="bw-header__drawer-heading">Shop by category</div>
      {% if section.settings.drawer_menu != blank and section.settings.drawer_menu.links.size > 0 %}
        {% for link in section.settings.drawer_menu.links %}
          {% assign rendered_url = link.url %}
          {% assign rendered_handle = link.title | handleize %}
          {% if rendered_handle contains 'modular-kitchen' or rendered_handle == 'kitchen' %}
            {% assign rendered_url = modular_kitchen_url %}
          {% elsif rendered_handle contains 'wardrobe' %}
            {% assign rendered_url = modular_wardrobe_url %}
          {% elsif rendered_handle contains 'calculator' %}
            {% assign rendered_url = price_calculator_url %}
          {% endif %}
          <a class="bw-header__drawer-link" href="{{ rendered_url }}"{% if link.current or current_path == rendered_url %} aria-current="page"{% endif %}>{{ link.title }}</a>
        {% endfor %}
      {% elsif section.settings.primary_menu != blank and section.settings.primary_menu.links.size > 0 %}
        {% for link in section.settings.primary_menu.links %}
          {% assign rendered_url = link.url %}
          {% assign rendered_handle = link.title | handleize %}
          {% if rendered_handle contains 'modular-kitchen' or rendered_handle == 'kitchen' %}
            {% assign rendered_url = modular_kitchen_url %}
          {% elsif rendered_handle contains 'wardrobe' %}
            {% assign rendered_url = modular_wardrobe_url %}
          {% elsif rendered_handle contains 'calculator' %}
            {% assign rendered_url = price_calculator_url %}
          {% endif %}
          <a class="bw-header__drawer-link" href="{{ rendered_url }}"{% if link.current or current_path == rendered_url %} aria-current="page"{% endif %}>{{ link.title }}</a>
        {% endfor %}
      {% else %}
        {% for nav_label in drawer_nav_labels %}
          {% assign nav_url = drawer_nav_urls[forloop.index0] %}
          {% if nav_label == 'Modular Kitchen' %}
            {% assign nav_url = modular_kitchen_url %}
          {% elsif nav_label == 'Wardrobes' %}
            {% assign nav_url = modular_wardrobe_url %}
          {% elsif nav_label == 'Price Calculator' %}
            {% assign nav_url = price_calculator_url %}
          {% endif %}
          <a class="bw-header__drawer-link" href="{{ nav_url }}"{% if current_path == nav_url %} aria-current="page"{% endif %}>{{ nav_label }}</a>
        {% endfor %}
      {% endif %}
    </div>

    <div class="bw-header__drawer-planning">
      <div class="bw-header__drawer-heading">Planning</div>
      <div class="bw-header__drawer-planning-links">
        <a class="bw-header__drawer-pill" href="{{ modular_kitchen_url }}">Modular Kitchen</a>
        <a class="bw-header__drawer-pill" href="{{ modular_kitchen_calculator_url }}">Kitchen Calculator</a>
        <a class="bw-header__drawer-pill" href="{{ modular_wardrobe_url }}">Wardrobes</a>
        <a class="bw-header__drawer-pill" href="{{ modular_wardrobe_calculator_url }}">Wardrobe Calculator</a>
        <a class="bw-header__drawer-pill" href="{{ home_interiors_calculator_url }}">Home Interiors</a>
        <a class="bw-header__drawer-pill" href="{{ estimate_url }}">Get Free Estimate</a>
      </div>
    </div>

    <div class="bw-header__drawer-links">
      <div class="bw-header__drawer-heading">Support</div>
      <a class="bw-header__drawer-link" href="{{ routes.account_url }}">Account</a>
      {% if section.settings.support_menu != blank and section.settings.support_menu.links.size > 0 %}
        {% for link in section.settings.support_menu.links %}
          <a class="bw-header__drawer-link" href="{{ link.url }}"{% if link.current %} aria-current="page"{% endif %}>{{ link.title }}</a>
        {% endfor %}
      {% else %}
        <a class="bw-header__drawer-link" href="{{ about_url }}">About Us</a>
        <a class="bw-header__drawer-link" href="{{ contact_url }}">Contact Us</a>
        <a class="bw-header__drawer-link" href="{{ bulk_url }}">Buy In Bulk</a>
        <a class="bw-header__drawer-link" href="{{ visit_url }}">Visit Us</a>
        <a class="bw-header__drawer-link" href="{{ help_center_url }}">FAQs</a>
        <a class="bw-header__drawer-link" href="{{ offers_url }}">Offers & Discounts</a>
        <a class="bw-header__drawer-link" href="{{ awards_url }}">Award & Achievement</a>
        <a class="bw-header__drawer-link" href="{{ returns_url }}">Returns & Refunds</a>
      {% endif %}
    </div>

    <div class="bw-header__drawer-links">
      <div class="bw-header__drawer-heading">Policies</div>
      {% if section.settings.policy_menu != blank and section.settings.policy_menu.links.size > 0 %}
        {% for link in section.settings.policy_menu.links %}
          <a class="bw-header__drawer-link" href="{{ link.url }}"{% if link.current %} aria-current="page"{% endif %}>{{ link.title }}</a>
        {% endfor %}
      {% else %}
        <a class="bw-header__drawer-link" href="/policies/terms-of-service">Terms of Service</a>
        <a class="bw-header__drawer-link" href="{{ terms_url }}">Terms Of Use</a>
        <a class="bw-header__drawer-link" href="{{ policies_url }}">Privacy Statement</a>
        <a class="bw-header__drawer-link" href="{{ payment_security_url }}">Payment & Security</a>
        <a class="bw-header__drawer-link" href="{{ installation_cancellation_url }}">Installation & Cancellation</a>
        <a class="bw-header__drawer-link" href="{{ routes.search_url }}">Search</a>
      {% endif %}
    </div>

    <div class="bw-header__drawer-contact">
      <a href="{{ phone_url }}">{{ phone_label }}</a>
      <a href="{{ email_url }}">{{ email_label }}</a>
      <a href="{{ cta_url }}">{{ cta_label }}</a>
    </div>
  </div>
</div>

<script>
  (function () {
    var drawer = document.getElementById('bw-header-drawer-{{ section.id }}');
    if (!drawer) return;

    var openButton = document.querySelector('[data-bw-header-open][aria-controls="bw-header-drawer-{{ section.id }}"]');
    var closeButtons = drawer.querySelectorAll('[data-bw-header-close]');
    drawer.setAttribute('aria-hidden', 'true');

    function setDrawerState(isOpen) {
      drawer.classList.toggle('is-open', isOpen);
      drawer.setAttribute('aria-hidden', isOpen ? 'false' : 'true');
      if (openButton) {
        openButton.setAttribute('aria-expanded', isOpen ? 'true' : 'false');
      }
      document.body.classList.toggle('bw-header-drawer-open', isOpen);
    }

    if (openButton) {
      openButton.addEventListener('click', function () {
        setDrawerState(true);
      });
    }

    closeButtons.forEach(function (button) {
      button.addEventListener('click', function () {
        setDrawerState(false);
      });
    });

    document.addEventListener('keydown', function (event) {
      if (event.key === 'Escape') {
        setDrawerState(false);
      }
    });
  })();
</script>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "brand_logo",
      "label": "Brand logo"
    },
    {
      "type": "link_list",
      "id": "primary_menu",
      "label": "Primary menu"
    },
    {
      "type": "link_list",
      "id": "drawer_menu",
      "label": "Drawer menu"
    },
    {
      "type": "link_list",
      "id": "support_menu",
      "label": "Support menu"
    },
    {
      "type": "link_list",
      "id": "policy_menu",
      "label": "Policy menu"
    },
    {
      "type": "text",
      "id": "brand_name",
      "label": "Brand name",
      "default": "Bluewud"
    },
    {
      "type": "text",
      "id": "brand_kicker",
      "label": "Brand kicker",
      "default": "15 years of crafted living"
    },
    {
      "type": "text",
      "id": "brand_tagline",
      "label": "Brand tagline",
      "default": "Premium furniture and room planning for modern Indian homes"
    },
    {
      "type": "text",
      "id": "phone_label",
      "label": "Phone text",
      "default": "+91-8800-609-609"
    },
    {
      "type": "text",
      "id": "phone_url",
      "label": "Phone link",
      "default": "tel:+918800609609"
    },
    {
      "type": "text",
      "id": "email_label",
      "label": "Email text",
      "default": "care@bluewud.com"
    },
    {
      "type": "text",
      "id": "email_url",
      "label": "Email link",
      "default": "mailto:care@bluewud.com"
    },
    {
      "type": "text",
      "id": "cta_label",
      "label": "Primary CTA label",
      "default": "Bulk Enquiries"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "Primary CTA link"
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}
